<div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">{{course.name}}</h3>
    </div>
    <div class="panel-body">
      <div class="col-xs-10">
        <div class="row vertical-align">
          <div class="col-xs-4">
            <img class="imageClass" [src]="course.photoPath" />
          </div>
          <div class="col-xs-8">
  
            <div class="row">
              <div class="col-xs-6">
                Date of Start
              </div>
              <div class="col-xs-6">
                : {{course.startDate | date}}
              </div>
            </div>
            <div class="row">
              <div class="col-xs-6">
                Is Active
              </div>
              <div class="col-xs-6">
                : {{course.isActive}}
              </div>
            </div>
            <!-- <div class="row">
                <div class="col-xs-6">
                  Cursos
                </div>
                <div class="col-xs-6" >
                    <ul class="list-group" *ngFor="let courses of career.course">
                        <li class="list-group-item">{{courses.name}}</li>
                      </ul>
                </div>
              </div> -->
          </div>
        </div>
      </div>
    </div>
    <div class="panel-footer">
      <a class="btn btn-primary" routerLink="/careers/1">
        Volver a Cursos
      </a>
      <button class="btn btn-primary pull-right" (click)="getNextVideo()">
          Ver Siguiente Video
        </button>
    </div>
  </div>
  <div class="container">

      <!-- <vg-player (onPlayerReady)="onPlayerReady($event)">
          <vg-overlay-play></vg-overlay-play>
          <vg-buffering></vg-buffering>
      
          <vg-scrub-bar>
              <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
              <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
          </vg-scrub-bar>
      
          <vg-controls>
              <vg-play-pause></vg-play-pause>
              <vg-playback-button></vg-playback-button>
      
              <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>
      
              <vg-scrub-bar style="pointer-events: none;"></vg-scrub-bar>
      
              <vg-time-display vgProperty="left" vgFormat="mm:ss"></vg-time-display>
              <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>
      
              <vg-track-selector></vg-track-selector>
              <vg-mute></vg-mute>
              <vg-volume></vg-volume>
      
              <vg-fullscreen></vg-fullscreen>
          </vg-controls>
      
          <video [vgMedia]="media" #media id="singleVideo" preload="auto"
          type="video/mp4"
          webkit-playsinline
          playsinline
          autoplay>
              <source [src]="course.videoPath" type="video/mp4">
          </video>
      </vg-player> -->
      <div>
        <ng-container #outlet >
        </ng-container>
      </div>
  
      <ng-template #content>
        <child  [_id]="_id"></child>
      </ng-template>
  </div>