<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
    <nav class="navbar navbar-default">
        <ul class="nav navbar-nav">
            <li>
                <a routerLink="home">Inicio</a>
            </li>
            <li>
                <a routerLink="careersList">Carreras</a>
            </li>
            <li>
                <a routerLink="create">Crear Carrera</a>
            </li>
            <li>
                <a routerLink="donate">Donar</a>
            </li>
            <div *ngIf="auth.user$ | async as user; else login">
                <li>
                    <!-- <pre>
                              {{user | json}}
                            </pre>
                            <hr> -->
                    <a (click)="auth.signOut()">Termina Sesion</a>
                </li>
            </div>
            <ng-template #login>
                <li (click)="auth.googleSignin()">
                    <a>Inicia Session Google</a>
                </li>
            </ng-template>
        </ul>
    </nav>
    <router-outlet></router-outlet>
</div>