<div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">{{career.name}}</h3>
    </div>
    <div class="panel-body">
      <div class="col-xs-10">
        <div class="row vertical-align">
          <div class="col-xs-4">
            <img class="imageClass" [src]="career.photoPath" />
          </div>
          <div class="col-xs-8">
  
            <div class="row">
              <div class="col-xs-6">
                Date of Start
              </div>
              <div class="col-xs-6">
                : {{career.startDate | date}}
              </div>
            </div>
            <div class="row">
              <div class="col-xs-6">
                Is Active
              </div>
              <div class="col-xs-6">
                : {{employee.isActive}}
              </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                  Cursos
                </div>
                <div class="col-xs-6" >
                      <ul class="list-group" *ngFor="let course of courses">
                          <li class="list-group-item" class="pointerCursor" (click)="onClick(course.id)" >{{course.name}}</li>
                        </ul>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
    <div class="panel-footer">
      <a class="btn btn-primary" routerLink="/careersList">
        Volver a Carreras
      </a>
      <button class="btn btn-primary pull-right" (click)="getNextCareer()">
          Ver Siguiente Carrera
        </button>
    </div>
  </div>